# LaTeX cruft
*.aux
*.bbl
*.blg
*.log
*.pdf

# Ignore data
lab0_spectral_data.*
lab0_hash*

# Testing cruft
test/.pytest_cache/*

# Editor cruft
*.swp

# Python cruft
*.pyc

# Ignore analysis results
images/cal_AmCs.png
images/rawdata.png
